<div>

		<fieldset>
			
			<div class="control-group">											
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					{{viewCategory.name}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			
			<div class="control-group">											
				<label class="control-label" for="slug">Slug</label>
				<div class="controls">
					{{viewCategory.slug}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->
			
			
			<div class="control-group">											
				<label class="control-label" for="description">Description</label>
				<div class="controls">
					{{viewCategory.description}}
				</div> <!-- /controls -->				
			</div> <!-- /control-group -->

		</fieldset>
								
</div>
